In [48]:
import pandas as pd

In [49]:
data=pd.read_csv('2023_Countries by Population.csv')
data.head()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5

In [50]:
#calculating 2025 population
data.insert(6,'pop2025',data.loc[:,'pop2023']+((data.loc[:,'pop2023']*data.loc[:,'growthRate'])*2))
data.head()
data.isnull().sum()

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2025            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          8
growthRate         0
worldPercentage    6
density            0
densityMi          0
rank               0
dtype: int64

In [51]:
#calculating the missing values in net change column
a= [(data.loc[:,'pop2000']- data.loc[:,'pop1980'])/20,(data.loc[:,'pop2010']- data.loc[:,'pop2000'])/10,(data.loc[:,'pop2022']- data.loc[:,'pop2010'])/12,(data.loc[:,'pop2023']- data.loc[:,'pop2022']),(data.loc[:,'pop2030']- data.loc[:,'pop2023'])/7,(data.loc[:,'pop2050']- data.loc[:,'pop2030'])/20]
data.loc[:,'netChange'].fillna((sum(a)/len(a))/1000,inplace=True)
data.isnull().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_21592\4185223118.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.loc[:,'netChange'].fillna((sum(a)/len(a))/1000,inplace=True)

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2025            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          0
growthRate         0
worldPercentage    6
density            0
densityMi          0
rank               0
dtype: int64

In [54]:
#calculating the missing values in world percentage
sum=data['pop2023'].sum()
data.loc[:,'worldPercentage'].fillna(data.loc[:,'pop2023']/sum,inplace=True)
data.isnull().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_21592\1508855091.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.loc[:,'worldPercentage'].fillna(data.loc[:,'pop2023']/sum,inplace=True)

place              0
pop1980            0
pop2000            0
pop2010            0
pop2022            0
pop2023            0
pop2025            0
pop2030            0
pop2050            0
country            0
area               0
landAreaKm         0
cca2               1
cca3               0
netChange          0
growthRate         0
worldPercentage    0
density            0
densityMi          0
rank               0
dtype: int64